<?xml version="1.0"?>

<model>
    <name>sauvc_pool</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>

    <author>
        <name>Moksh Kandhari</name>
        <email>moksh.m.kandhari@gmail.com</email>
    </author>

    <description>
        SAUVC pool model
    </description>
</model>